<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}" type="image/x-icon">
    <link rel="stylesheet" href='{{url_for("static", filename="style.css")}}'>
    <title>Disease predictor 2.0</title>
    
</head>
<body>
    <div class = "description">
        <p class ="description"><h1>Disease Predictor 2.0</h1></p>
    </div>
    
    <div class = "parent">
        
        <form action = '/' method = "post" class="form">
            <select name="Symptom_1">
                <option value = "Not available">Select 1st symptom</option>
                <option value=itching>itching</option>
                <option value=skinrash>skin rash</option>
                <option value=nodalskineruptions>nodal skin eruptions</option>
                <option value=continuoussneezing>continuous sneezing</option>
                <option value=shivering>shivering</option>
                <option value=chills>chills</option>
                <option value=jointpain>joint pain</option>
                <option value=stomachpain>stomach pain</option>
                <option value=acidity>acidity</option>
                <option value=ulcersontongue>ulcers on tongue</option>
                <option value=musclewasting>muscle wasting</option>
                <option value=vomiting>vomiting</option>
                <option value=burningmicturition>burning micturition</option>
                <option value=spottingurination>spotting urination</option>
                <option value=fatigue>fatigue</option>
                <option value=weightgain>weight gain</option>
                <option value=anxiety>anxiety</option>
                <option value=coldhandsandfeets>cold hands and feets</option>
                <option value=moodswings>mood swings</option>
                <option value=weightloss>weight loss</option>
                <option value=restlessness>restlessness</option>
                <option value=lethargy>lethargy</option>
                <option value=patchesinthroat>patches in throat</option>
                <option value=irregularsugarlevel>irregular sugar level</option>
                <option value=cough>cough</option>
                <option value=highfever>high fever</option>
                <option value=sunkeneyes>sunken eyes</option>
                <option value=breathlessness>breathlessness</option>
                <option value=sweating>sweating</option>
                <option value=dehydration>dehydration</option>
                <option value=indigestion>indigestion</option>
                <option value=headache>headache</option>
                <option value=yellowishskin>yellowish skin</option>
                <option value=darkurine>dark urine</option>
                <option value=nausea>nausea</option>
                <option value=lossofappetite>loss of appetite</option>
                <option value=painbehindtheeyes>pain behind the eyes</option>
                <option value=backpain>back pain</option>
                <option value=constipation>constipation</option>
                <option value=abdominalpain>abdominal pain</option>
                <option value=diarrhoea>diarrhoea</option>
                <option value=mildfever>mild fever</option>
                <option value=yellowurine>yellow urine</option>
                <option value=yellowingofeyes>yellowing of eyes</option>
                <option value=acuteliverfailure>acute liver failure</option>
                <option value=fluidoverload>fluid overload</option>
                <option value=swellingofstomach>swelling of stomach</option>
                <option value=swelledlymphnodes>swelled lymph nodes</option>
                <option value=malaise>malaise</option>
                <option value=blurredanddistortedvision>blurred and distorted vision</option>
                <option value=phlegm>phlegm</option>
                <option value=throatirritation>throat irritation</option>
                <option value=rednessofeyes>redness of eyes</option>
                <option value=sinuspressure>sinus pressure</option>
                <option value=runnynose>runny nose</option>
                <option value=congestion>congestion</option>
                <option value=chestpain>chest pain</option>
                <option value=weaknessinlimbs>weakness in limbs</option>
                <option value=fastheartrate>fast heart rate</option>
                <option value=painduringbowelmovements>pain during bowel movements</option>
                <option value=paininanalregion>pain in anal region</option>
                <option value=bloodystool>bloody stool</option>
                <option value=irritationinanus>irritation in anus</option>
                <option value=neckpain>neck pain</option>
                <option value=dizziness>dizziness</option>
                <option value=cramps>cramps</option>
                <option value=bruising>bruising</option>
                <option value=obesity>obesity</option>
                <option value=swollenlegs>swollen legs</option>
                <option value=swollenbloodvessels>swollen blood vessels</option>
                <option value=puffyfaceandeyes>puffy face and eyes</option>
                <option value=enlargedthyroid>enlarged thyroid</option>
                <option value=brittlenails>brittle nails</option>
                <option value=swollenextremeties>swollen extremeties</option>
                <option value=excessivehunger>excessive hunger</option>
                <option value=extramaritalcontacts>extra marital contacts</option>
                <option value=dryingandtinglinglips>drying and tingling lips</option>
                <option value=slurredspeech>slurred speech</option>
                <option value=kneepain>knee pain</option>
                <option value=hipjointpain>hip joint pain</option>
                <option value=muscleweakness>muscle weakness</option>
                <option value=stiffneck>stiff neck</option>
                <option value=swellingjoints>swelling joints</option>
                <option value=movementstiffness>movement stiffness</option>
                <option value=spinningmovements>spinning movements</option>
                <option value=lossofbalance>loss of balance</option>
                <option value=unsteadiness>unsteadiness</option>
                <option value=weaknessofonebodyside>weakness of one body side</option>
                <option value=lossofsmell>loss of smell</option>
                <option value=bladderdiscomfort>bladder discomfort</option>
                <option value=foulsmellofurine>foul smell ofurine</option>
                <option value=continuousfeelofurine>continuous feel of urine</option>
                <option value=passageofgases>passage of gases</option>
                <option value=internalitching>internal itching</option>
                <option value=toxiclook(typhos)>toxic look (typhos)</option>
                <option value=depression>depression</option>
                <option value=irritability>irritability</option>
                <option value=musclepain>muscle pain</option>
                <option value=alteredsensorium>altered sensorium</option>
                <option value=redspotsoverbody>red spots over body</option>
                <option value=bellypain>belly pain</option>
                <option value=abnormalmenstruation>abnormal menstruation</option>
                <option value=dischromicpatches>dischromic patches</option>
                <option value=wateringfromeyes>watering from eyes</option>
                <option value=increasedappetite>increased appetite</option>
                <option value=polyuria>polyuria</option>
                <option value=familyhistory>family history</option>
                <option value=mucoidsputum>mucoid sputum</option>
                <option value=rustysputum>rusty sputum</option>
                <option value=lackofconcentration>lack of concentration</option>
                <option value=visualdisturbances>visual disturbances</option>
                <option value=receivingbloodtransfusion>receiving blood transfusion</option>
                <option value=receivingunsterileinjections>receiving unsterile injections</option>
                <option value=coma>coma</option>
                <option value=stomachbleeding>stomach bleeding</option>
                <option value=distentionofabdomen>distention of abdomen</option>
                <option value=historyofalcoholconsumption>history of alcohol consumption</option>
                <option value=fluidoverload>fluid overload</option>
                <option value=bloodinsputum>blood in sputum</option>
                <option value=prominentveinsoncalf>prominent veins on calf</option>
                <option value=palpitations>palpitations</option>
                <option value=painfulwalking>painful walking</option>
                <option value=pusfilledpimples>pus filled pimples</option>
                <option value=blackheads>blackheads</option>
                <option value=scurring>scurring</option>
                <option value=skinpeeling>skin peeling</option>
                <option value=silverlikedusting>silver like dusting</option>
                <option value=smalldentsinnails>small dents in nails</option>
                <option value=inflammatorynails>inflammatory nails</option>
                <option value=blister>blister</option>
                <option value=redsorearoundnose>red sore around nose</option>
                <option value=yellowcrustooze>yellow crust ooze</option>
                <option value=prognosis>prognosis</option>
            </select>
            <select name = "Symptom_2" class = "symptom_select">
                <option value = "Not available">Select 2nd symptom</option>
                <option value=itching>itching</option>
                <option value=skinrash>skin rash</option>
                <option value=nodalskineruptions>nodal skin eruptions</option>
                <option value=continuoussneezing>continuous sneezing</option>
                <option value=shivering>shivering</option>
                <option value=chills>chills</option>
                <option value=jointpain>joint pain</option>
                <option value=stomachpain>stomach pain</option>
                <option value=acidity>acidity</option>
                <option value=ulcersontongue>ulcers on tongue</option>
                <option value=musclewasting>muscle wasting</option>
                <option value=vomiting>vomiting</option>
                <option value=burningmicturition>burning micturition</option>
                <option value=spottingurination>spotting urination</option>
                <option value=fatigue>fatigue</option>
                <option value=weightgain>weight gain</option>
                <option value=anxiety>anxiety</option>
                <option value=coldhandsandfeets>cold hands and feets</option>
                <option value=moodswings>mood swings</option>
                <option value=weightloss>weight loss</option>
                <option value=restlessness>restlessness</option>
                <option value=lethargy>lethargy</option>
                <option value=patchesinthroat>patches in throat</option>
                <option value=irregularsugarlevel>irregular sugar level</option>
                <option value=cough>cough</option>
                <option value=highfever>high fever</option>
                <option value=sunkeneyes>sunken eyes</option>
                <option value=breathlessness>breathlessness</option>
                <option value=sweating>sweating</option>
                <option value=dehydration>dehydration</option>
                <option value=indigestion>indigestion</option>
                <option value=headache>headache</option>
                <option value=yellowishskin>yellowish skin</option>
                <option value=darkurine>dark urine</option>
                <option value=nausea>nausea</option>
                <option value=lossofappetite>loss of appetite</option>
                <option value=painbehindtheeyes>pain behind the eyes</option>
                <option value=backpain>back pain</option>
                <option value=constipation>constipation</option>
                <option value=abdominalpain>abdominal pain</option>
                <option value=diarrhoea>diarrhoea</option>
                <option value=mildfever>mild fever</option>
                <option value=yellowurine>yellow urine</option>
                <option value=yellowingofeyes>yellowing of eyes</option>
                <option value=acuteliverfailure>acute liver failure</option>
                <option value=fluidoverload>fluid overload</option>
                <option value=swellingofstomach>swelling of stomach</option>
                <option value=swelledlymphnodes>swelled lymph nodes</option>
                <option value=malaise>malaise</option>
                <option value=blurredanddistortedvision>blurred and distorted vision</option>
                <option value=phlegm>phlegm</option>
                <option value=throatirritation>throat irritation</option>
                <option value=rednessofeyes>redness of eyes</option>
                <option value=sinuspressure>sinus pressure</option>
                <option value=runnynose>runny nose</option>
                <option value=congestion>congestion</option>
                <option value=chestpain>chest pain</option>
                <option value=weaknessinlimbs>weakness in limbs</option>
                <option value=fastheartrate>fast heart rate</option>
                <option value=painduringbowelmovements>pain during bowel movements</option>
                <option value=paininanalregion>pain in anal region</option>
                <option value=bloodystool>bloody stool</option>
                <option value=irritationinanus>irritation in anus</option>
                <option value=neckpain>neck pain</option>
                <option value=dizziness>dizziness</option>
                <option value=cramps>cramps</option>
                <option value=bruising>bruising</option>
                <option value=obesity>obesity</option>
                <option value=swollenlegs>swollen legs</option>
                <option value=swollenbloodvessels>swollen blood vessels</option>
                <option value=puffyfaceandeyes>puffy face and eyes</option>
                <option value=enlargedthyroid>enlarged thyroid</option>
                <option value=brittlenails>brittle nails</option>
                <option value=swollenextremeties>swollen extremeties</option>
                <option value=excessivehunger>excessive hunger</option>
                <option value=extramaritalcontacts>extra marital contacts</option>
                <option value=dryingandtinglinglips>drying and tingling lips</option>
                <option value=slurredspeech>slurred speech</option>
                <option value=kneepain>knee pain</option>
                <option value=hipjointpain>hip joint pain</option>
                <option value=muscleweakness>muscle weakness</option>
                <option value=stiffneck>stiff neck</option>
                <option value=swellingjoints>swelling joints</option>
                <option value=movementstiffness>movement stiffness</option>
                <option value=spinningmovements>spinning movements</option>
                <option value=lossofbalance>loss of balance</option>
                <option value=unsteadiness>unsteadiness</option>
                <option value=weaknessofonebodyside>weakness of one body side</option>
                <option value=lossofsmell>loss of smell</option>
                <option value=bladderdiscomfort>bladder discomfort</option>
                <option value=foulsmellofurine>foul smell ofurine</option>
                <option value=continuousfeelofurine>continuous feel of urine</option>
                <option value=passageofgases>passage of gases</option>
                <option value=internalitching>internal itching</option>
                <option value=toxiclook(typhos)>toxic look (typhos)</option>
                <option value=depression>depression</option>
                <option value=irritability>irritability</option>
                <option value=musclepain>muscle pain</option>
                <option value=alteredsensorium>altered sensorium</option>
                <option value=redspotsoverbody>red spots over body</option>
                <option value=bellypain>belly pain</option>
                <option value=abnormalmenstruation>abnormal menstruation</option>
                <option value=dischromicpatches>dischromic patches</option>
                <option value=wateringfromeyes>watering from eyes</option>
                <option value=increasedappetite>increased appetite</option>
                <option value=polyuria>polyuria</option>
                <option value=familyhistory>family history</option>
                <option value=mucoidsputum>mucoid sputum</option>
                <option value=rustysputum>rusty sputum</option>
                <option value=lackofconcentration>lack of concentration</option>
                <option value=visualdisturbances>visual disturbances</option>
                <option value=receivingbloodtransfusion>receiving blood transfusion</option>
                <option value=receivingunsterileinjections>receiving unsterile injections</option>
                <option value=coma>coma</option>
                <option value=stomachbleeding>stomach bleeding</option>
                <option value=distentionofabdomen>distention of abdomen</option>
                <option value=historyofalcoholconsumption>history of alcohol consumption</option>
                <option value=fluidoverload>fluid overload</option>
                <option value=bloodinsputum>blood in sputum</option>
                <option value=prominentveinsoncalf>prominent veins on calf</option>
                <option value=palpitations>palpitations</option>
                <option value=painfulwalking>painful walking</option>
                <option value=pusfilledpimples>pus filled pimples</option>
                <option value=blackheads>blackheads</option>
                <option value=scurring>scurring</option>
                <option value=skinpeeling>skin peeling</option>
                <option value=silverlikedusting>silver like dusting</option>
                <option value=smalldentsinnails>small dents in nails</option>
                <option value=inflammatorynails>inflammatory nails</option>
                <option value=blister>blister</option>
                <option value=redsorearoundnose>red sore around nose</option>
                <option value=yellowcrustooze>yellow crust ooze</option>
                <option value=prognosis>prognosis</option>
            </select>
            <select name="Symptom_3" class = "symptom_select">
                <option value = "Not available">Select 3rd symptom</option>
                <option value=itching>itching</option>
                <option value=skinrash>skin rash</option>
                <option value=nodalskineruptions>nodal skin eruptions</option>
                <option value=continuoussneezing>continuous sneezing</option>
                <option value=shivering>shivering</option>
                <option value=chills>chills</option>
                <option value=jointpain>joint pain</option>
                <option value=stomachpain>stomach pain</option>
                <option value=acidity>acidity</option>
                <option value=ulcersontongue>ulcers on tongue</option>
                <option value=musclewasting>muscle wasting</option>
                <option value=vomiting>vomiting</option>
                <option value=burningmicturition>burning micturition</option>
                <option value=spottingurination>spotting urination</option>
                <option value=fatigue>fatigue</option>
                <option value=weightgain>weight gain</option>
                <option value=anxiety>anxiety</option>
                <option value=coldhandsandfeets>cold hands and feets</option>
                <option value=moodswings>mood swings</option>
                <option value=weightloss>weight loss</option>
                <option value=restlessness>restlessness</option>
                <option value=lethargy>lethargy</option>
                <option value=patchesinthroat>patches in throat</option>
                <option value=irregularsugarlevel>irregular sugar level</option>
                <option value=cough>cough</option>
                <option value=highfever>high fever</option>
                <option value=sunkeneyes>sunken eyes</option>
                <option value=breathlessness>breathlessness</option>
                <option value=sweating>sweating</option>
                <option value=dehydration>dehydration</option>
                <option value=indigestion>indigestion</option>
                <option value=headache>headache</option>
                <option value=yellowishskin>yellowish skin</option>
                <option value=darkurine>dark urine</option>
                <option value=nausea>nausea</option>
                <option value=lossofappetite>loss of appetite</option>
                <option value=painbehindtheeyes>pain behind the eyes</option>
                <option value=backpain>back pain</option>
                <option value=constipation>constipation</option>
                <option value=abdominalpain>abdominal pain</option>
                <option value=diarrhoea>diarrhoea</option>
                <option value=mildfever>mild fever</option>
                <option value=yellowurine>yellow urine</option>
                <option value=yellowingofeyes>yellowing of eyes</option>
                <option value=acuteliverfailure>acute liver failure</option>
                <option value=fluidoverload>fluid overload</option>
                <option value=swellingofstomach>swelling of stomach</option>
                <option value=swelledlymphnodes>swelled lymph nodes</option>
                <option value=malaise>malaise</option>
                <option value=blurredanddistortedvision>blurred and distorted vision</option>
                <option value=phlegm>phlegm</option>
                <option value=throatirritation>throat irritation</option>
                <option value=rednessofeyes>redness of eyes</option>
                <option value=sinuspressure>sinus pressure</option>
                <option value=runnynose>runny nose</option>
                <option value=congestion>congestion</option>
                <option value=chestpain>chest pain</option>
                <option value=weaknessinlimbs>weakness in limbs</option>
                <option value=fastheartrate>fast heart rate</option>
                <option value=painduringbowelmovements>pain during bowel movements</option>
                <option value=paininanalregion>pain in anal region</option>
                <option value=bloodystool>bloody stool</option>
                <option value=irritationinanus>irritation in anus</option>
                <option value=neckpain>neck pain</option>
                <option value=dizziness>dizziness</option>
                <option value=cramps>cramps</option>
                <option value=bruising>bruising</option>
                <option value=obesity>obesity</option>
                <option value=swollenlegs>swollen legs</option>
                <option value=swollenbloodvessels>swollen blood vessels</option>
                <option value=puffyfaceandeyes>puffy face and eyes</option>
                <option value=enlargedthyroid>enlarged thyroid</option>
                <option value=brittlenails>brittle nails</option>
                <option value=swollenextremeties>swollen extremeties</option>
                <option value=excessivehunger>excessive hunger</option>
                <option value=extramaritalcontacts>extra marital contacts</option>
                <option value=dryingandtinglinglips>drying and tingling lips</option>
                <option value=slurredspeech>slurred speech</option>
                <option value=kneepain>knee pain</option>
                <option value=hipjointpain>hip joint pain</option>
                <option value=muscleweakness>muscle weakness</option>
                <option value=stiffneck>stiff neck</option>
                <option value=swellingjoints>swelling joints</option>
                <option value=movementstiffness>movement stiffness</option>
                <option value=spinningmovements>spinning movements</option>
                <option value=lossofbalance>loss of balance</option>
                <option value=unsteadiness>unsteadiness</option>
                <option value=weaknessofonebodyside>weakness of one body side</option>
                <option value=lossofsmell>loss of smell</option>
                <option value=bladderdiscomfort>bladder discomfort</option>
                <option value=foulsmellofurine>foul smell ofurine</option>
                <option value=continuousfeelofurine>continuous feel of urine</option>
                <option value=passageofgases>passage of gases</option>
                <option value=internalitching>internal itching</option>
                <option value=toxiclook(typhos)>toxic look (typhos)</option>
                <option value=depression>depression</option>
                <option value=irritability>irritability</option>
                <option value=musclepain>muscle pain</option>
                <option value=alteredsensorium>altered sensorium</option>
                <option value=redspotsoverbody>red spots over body</option>
                <option value=bellypain>belly pain</option>
                <option value=abnormalmenstruation>abnormal menstruation</option>
                <option value=dischromicpatches>dischromic patches</option>
                <option value=wateringfromeyes>watering from eyes</option>
                <option value=increasedappetite>increased appetite</option>
                <option value=polyuria>polyuria</option>
                <option value=familyhistory>family history</option>
                <option value=mucoidsputum>mucoid sputum</option>
                <option value=rustysputum>rusty sputum</option>
                <option value=lackofconcentration>lack of concentration</option>
                <option value=visualdisturbances>visual disturbances</option>
                <option value=receivingbloodtransfusion>receiving blood transfusion</option>
                <option value=receivingunsterileinjections>receiving unsterile injections</option>
                <option value=coma>coma</option>
                <option value=stomachbleeding>stomach bleeding</option>
                <option value=distentionofabdomen>distention of abdomen</option>
                <option value=historyofalcoholconsumption>history of alcohol consumption</option>
                <option value=fluidoverload>fluid overload</option>
                <option value=bloodinsputum>blood in sputum</option>
                <option value=prominentveinsoncalf>prominent veins on calf</option>
                <option value=palpitations>palpitations</option>
                <option value=painfulwalking>painful walking</option>
                <option value=pusfilledpimples>pus filled pimples</option>
                <option value=blackheads>blackheads</option>
                <option value=scurring>scurring</option>
                <option value=skinpeeling>skin peeling</option>
                <option value=silverlikedusting>silver like dusting</option>
                <option value=smalldentsinnails>small dents in nails</option>
                <option value=inflammatorynails>inflammatory nails</option>
                <option value=blister>blister</option>
                <option value=redsorearoundnose>red sore around nose</option>
                <option value=yellowcrustooze>yellow crust ooze</option>
                <option value=prognosis>prognosis</option>
            </select>
            <select name="Symptom_4" class = "symptom_select">
                <option value = "Not available">Select 4th symptom</option>
                <option value=itching>itching</option>
                <option value=skinrash>skin rash</option>
                <option value=nodalskineruptions>nodal skin eruptions</option>
                <option value=continuoussneezing>continuous sneezing</option>
                <option value=shivering>shivering</option>
                <option value=chills>chills</option>
                <option value=jointpain>joint pain</option>
                <option value=stomachpain>stomach pain</option>
                <option value=acidity>acidity</option>
                <option value=ulcersontongue>ulcers on tongue</option>
                <option value=musclewasting>muscle wasting</option>
                <option value=vomiting>vomiting</option>
                <option value=burningmicturition>burning micturition</option>
                <option value=spottingurination>spotting urination</option>
                <option value=fatigue>fatigue</option>
                <option value=weightgain>weight gain</option>
                <option value=anxiety>anxiety</option>
                <option value=coldhandsandfeets>cold hands and feets</option>
                <option value=moodswings>mood swings</option>
                <option value=weightloss>weight loss</option>
                <option value=restlessness>restlessness</option>
                <option value=lethargy>lethargy</option>
                <option value=patchesinthroat>patches in throat</option>
                <option value=irregularsugarlevel>irregular sugar level</option>
                <option value=cough>cough</option>
                <option value=highfever>high fever</option>
                <option value=sunkeneyes>sunken eyes</option>
                <option value=breathlessness>breathlessness</option>
                <option value=sweating>sweating</option>
                <option value=dehydration>dehydration</option>
                <option value=indigestion>indigestion</option>
                <option value=headache>headache</option>
                <option value=yellowishskin>yellowish skin</option>
                <option value=darkurine>dark urine</option>
                <option value=nausea>nausea</option>
                <option value=lossofappetite>loss of appetite</option>
                <option value=painbehindtheeyes>pain behind the eyes</option>
                <option value=backpain>back pain</option>
                <option value=constipation>constipation</option>
                <option value=abdominalpain>abdominal pain</option>
                <option value=diarrhoea>diarrhoea</option>
                <option value=mildfever>mild fever</option>
                <option value=yellowurine>yellow urine</option>
                <option value=yellowingofeyes>yellowing of eyes</option>
                <option value=acuteliverfailure>acute liver failure</option>
                <option value=fluidoverload>fluid overload</option>
                <option value=swellingofstomach>swelling of stomach</option>
                <option value=swelledlymphnodes>swelled lymph nodes</option>
                <option value=malaise>malaise</option>
                <option value=blurredanddistortedvision>blurred and distorted vision</option>
                <option value=phlegm>phlegm</option>
                <option value=throatirritation>throat irritation</option>
                <option value=rednessofeyes>redness of eyes</option>
                <option value=sinuspressure>sinus pressure</option>
                <option value=runnynose>runny nose</option>
                <option value=congestion>congestion</option>
                <option value=chestpain>chest pain</option>
                <option value=weaknessinlimbs>weakness in limbs</option>
                <option value=fastheartrate>fast heart rate</option>
                <option value=painduringbowelmovements>pain during bowel movements</option>
                <option value=paininanalregion>pain in anal region</option>
                <option value=bloodystool>bloody stool</option>
                <option value=irritationinanus>irritation in anus</option>
                <option value=neckpain>neck pain</option>
                <option value=dizziness>dizziness</option>
                <option value=cramps>cramps</option>
                <option value=bruising>bruising</option>
                <option value=obesity>obesity</option>
                <option value=swollenlegs>swollen legs</option>
                <option value=swollenbloodvessels>swollen blood vessels</option>
                <option value=puffyfaceandeyes>puffy face and eyes</option>
                <option value=enlargedthyroid>enlarged thyroid</option>
                <option value=brittlenails>brittle nails</option>
                <option value=swollenextremeties>swollen extremeties</option>
                <option value=excessivehunger>excessive hunger</option>
                <option value=extramaritalcontacts>extra marital contacts</option>
                <option value=dryingandtinglinglips>drying and tingling lips</option>
                <option value=slurredspeech>slurred speech</option>
                <option value=kneepain>knee pain</option>
                <option value=hipjointpain>hip joint pain</option>
                <option value=muscleweakness>muscle weakness</option>
                <option value=stiffneck>stiff neck</option>
                <option value=swellingjoints>swelling joints</option>
                <option value=movementstiffness>movement stiffness</option>
                <option value=spinningmovements>spinning movements</option>
                <option value=lossofbalance>loss of balance</option>
                <option value=unsteadiness>unsteadiness</option>
                <option value=weaknessofonebodyside>weakness of one body side</option>
                <option value=lossofsmell>loss of smell</option>
                <option value=bladderdiscomfort>bladder discomfort</option>
                <option value=foulsmellofurine>foul smell ofurine</option>
                <option value=continuousfeelofurine>continuous feel of urine</option>
                <option value=passageofgases>passage of gases</option>
                <option value=internalitching>internal itching</option>
                <option value=toxiclook(typhos)>toxic look (typhos)</option>
                <option value=depression>depression</option>
                <option value=irritability>irritability</option>
                <option value=musclepain>muscle pain</option>
                <option value=alteredsensorium>altered sensorium</option>
                <option value=redspotsoverbody>red spots over body</option>
                <option value=bellypain>belly pain</option>
                <option value=abnormalmenstruation>abnormal menstruation</option>
                <option value=dischromicpatches>dischromic patches</option>
                <option value=wateringfromeyes>watering from eyes</option>
                <option value=increasedappetite>increased appetite</option>
                <option value=polyuria>polyuria</option>
                <option value=familyhistory>family history</option>
                <option value=mucoidsputum>mucoid sputum</option>
                <option value=rustysputum>rusty sputum</option>
                <option value=lackofconcentration>lack of concentration</option>
                <option value=visualdisturbances>visual disturbances</option>
                <option value=receivingbloodtransfusion>receiving blood transfusion</option>
                <option value=receivingunsterileinjections>receiving unsterile injections</option>
                <option value=coma>coma</option>
                <option value=stomachbleeding>stomach bleeding</option>
                <option value=distentionofabdomen>distention of abdomen</option>
                <option value=historyofalcoholconsumption>history of alcohol consumption</option>
                <option value=fluidoverload>fluid overload</option>
                <option value=bloodinsputum>blood in sputum</option>
                <option value=prominentveinsoncalf>prominent veins on calf</option>
                <option value=palpitations>palpitations</option>
                <option value=painfulwalking>painful walking</option>
                <option value=pusfilledpimples>pus filled pimples</option>
                <option value=blackheads>blackheads</option>
                <option value=scurring>scurring</option>
                <option value=skinpeeling>skin peeling</option>
                <option value=silverlikedusting>silver like dusting</option>
                <option value=smalldentsinnails>small dents in nails</option>
                <option value=inflammatorynails>inflammatory nails</option>
                <option value=blister>blister</option>
                <option value=redsorearoundnose>red sore around nose</option>
                <option value=yellowcrustooze>yellow crust ooze</option>
                <option value=prognosis>prognosis</option>
            </select>
            <select name="Symptom_5" class = "symptom_select">
                <option value = "Not available">Select 5th symptom</option>
                <option value=itching>itching</option>
                <option value=skinrash>skin rash</option>
                <option value=nodalskineruptions>nodal skin eruptions</option>
                <option value=continuoussneezing>continuous sneezing</option>
                <option value=shivering>shivering</option>
                <option value=chills>chills</option>
                <option value=jointpain>joint pain</option>
                <option value=stomachpain>stomach pain</option>
                <option value=acidity>acidity</option>
                <option value=ulcersontongue>ulcers on tongue</option>
                <option value=musclewasting>muscle wasting</option>
                <option value=vomiting>vomiting</option>
                <option value=burningmicturition>burning micturition</option>
                <option value=spottingurination>spotting urination</option>
                <option value=fatigue>fatigue</option>
                <option value=weightgain>weight gain</option>
                <option value=anxiety>anxiety</option>
                <option value=coldhandsandfeets>cold hands and feets</option>
                <option value=moodswings>mood swings</option>
                <option value=weightloss>weight loss</option>
                <option value=restlessness>restlessness</option>
                <option value=lethargy>lethargy</option>
                <option value=patchesinthroat>patches in throat</option>
                <option value=irregularsugarlevel>irregular sugar level</option>
                <option value=cough>cough</option>
                <option value=highfever>high fever</option>
                <option value=sunkeneyes>sunken eyes</option>
                <option value=breathlessness>breathlessness</option>
                <option value=sweating>sweating</option>
                <option value=dehydration>dehydration</option>
                <option value=indigestion>indigestion</option>
                <option value=headache>headache</option>
                <option value=yellowishskin>yellowish skin</option>
                <option value=darkurine>dark urine</option>
                <option value=nausea>nausea</option>
                <option value=lossofappetite>loss of appetite</option>
                <option value=painbehindtheeyes>pain behind the eyes</option>
                <option value=backpain>back pain</option>
                <option value=constipation>constipation</option>
                <option value=abdominalpain>abdominal pain</option>
                <option value=diarrhoea>diarrhoea</option>
                <option value=mildfever>mild fever</option>
                <option value=yellowurine>yellow urine</option>
                <option value=yellowingofeyes>yellowing of eyes</option>
                <option value=acuteliverfailure>acute liver failure</option>
                <option value=fluidoverload>fluid overload</option>
                <option value=swellingofstomach>swelling of stomach</option>
                <option value=swelledlymphnodes>swelled lymph nodes</option>
                <option value=malaise>malaise</option>
                <option value=blurredanddistortedvision>blurred and distorted vision</option>
                <option value=phlegm>phlegm</option>
                <option value=throatirritation>throat irritation</option>
                <option value=rednessofeyes>redness of eyes</option>
                <option value=sinuspressure>sinus pressure</option>
                <option value=runnynose>runny nose</option>
                <option value=congestion>congestion</option>
                <option value=chestpain>chest pain</option>
                <option value=weaknessinlimbs>weakness in limbs</option>
                <option value=fastheartrate>fast heart rate</option>
                <option value=painduringbowelmovements>pain during bowel movements</option>
                <option value=paininanalregion>pain in anal region</option>
                <option value=bloodystool>bloody stool</option>
                <option value=irritationinanus>irritation in anus</option>
                <option value=neckpain>neck pain</option>
                <option value=dizziness>dizziness</option>
                <option value=cramps>cramps</option>
                <option value=bruising>bruising</option>
                <option value=obesity>obesity</option>
                <option value=swollenlegs>swollen legs</option>
                <option value=swollenbloodvessels>swollen blood vessels</option>
                <option value=puffyfaceandeyes>puffy face and eyes</option>
                <option value=enlargedthyroid>enlarged thyroid</option>
                <option value=brittlenails>brittle nails</option>
                <option value=swollenextremeties>swollen extremeties</option>
                <option value=excessivehunger>excessive hunger</option>
                <option value=extramaritalcontacts>extra marital contacts</option>
                <option value=dryingandtinglinglips>drying and tingling lips</option>
                <option value=slurredspeech>slurred speech</option>
                <option value=kneepain>knee pain</option>
                <option value=hipjointpain>hip joint pain</option>
                <option value=muscleweakness>muscle weakness</option>
                <option value=stiffneck>stiff neck</option>
                <option value=swellingjoints>swelling joints</option>
                <option value=movementstiffness>movement stiffness</option>
                <option value=spinningmovements>spinning movements</option>
                <option value=lossofbalance>loss of balance</option>
                <option value=unsteadiness>unsteadiness</option>
                <option value=weaknessofonebodyside>weakness of one body side</option>
                <option value=lossofsmell>loss of smell</option>
                <option value=bladderdiscomfort>bladder discomfort</option>
                <option value=foulsmellofurine>foul smell ofurine</option>
                <option value=continuousfeelofurine>continuous feel of urine</option>
                <option value=passageofgases>passage of gases</option>
                <option value=internalitching>internal itching</option>
                <option value=toxiclook(typhos)>toxic look (typhos)</option>
                <option value=depression>depression</option>
                <option value=irritability>irritability</option>
                <option value=musclepain>muscle pain</option>
                <option value=alteredsensorium>altered sensorium</option>
                <option value=redspotsoverbody>red spots over body</option>
                <option value=bellypain>belly pain</option>
                <option value=abnormalmenstruation>abnormal menstruation</option>
                <option value=dischromicpatches>dischromic patches</option>
                <option value=wateringfromeyes>watering from eyes</option>
                <option value=increasedappetite>increased appetite</option>
                <option value=polyuria>polyuria</option>
                <option value=familyhistory>family history</option>
                <option value=mucoidsputum>mucoid sputum</option>
                <option value=rustysputum>rusty sputum</option>
                <option value=lackofconcentration>lack of concentration</option>
                <option value=visualdisturbances>visual disturbances</option>
                <option value=receivingbloodtransfusion>receiving blood transfusion</option>
                <option value=receivingunsterileinjections>receiving unsterile injections</option>
                <option value=coma>coma</option>
                <option value=stomachbleeding>stomach bleeding</option>
                <option value=distentionofabdomen>distention of abdomen</option>
                <option value=historyofalcoholconsumption>history of alcohol consumption</option>
                <option value=fluidoverload>fluid overload</option>
                <option value=bloodinsputum>blood in sputum</option>
                <option value=prominentveinsoncalf>prominent veins on calf</option>
                <option value=palpitations>palpitations</option>
                <option value=painfulwalking>painful walking</option>
                <option value=pusfilledpimples>pus filled pimples</option>
                <option value=blackheads>blackheads</option>
                <option value=scurring>scurring</option>
                <option value=skinpeeling>skin peeling</option>
                <option value=silverlikedusting>silver like dusting</option>
                <option value=smalldentsinnails>small dents in nails</option>
                <option value=inflammatorynails>inflammatory nails</option>
                <option value=blister>blister</option>
                <option value=redsorearoundnose>red sore around nose</option>
                <option value=yellowcrustooze>yellow crust ooze</option>
                <option value=prognosis>prognosis</option>
            </select>
            <select name ="Symptom_6" class = "symptom_select">
                <option value = "Not available">Select 6th symptom</option>
                <option value=itching>itching</option>
                <option value=skinrash>skin rash</option>
                <option value=nodalskineruptions>nodal skin eruptions</option>
                <option value=continuoussneezing>continuous sneezing</option>
                <option value=shivering>shivering</option>
                <option value=chills>chills</option>
                <option value=jointpain>joint pain</option>
                <option value=stomachpain>stomach pain</option>
                <option value=acidity>acidity</option>
                <option value=ulcersontongue>ulcers on tongue</option>
                <option value=musclewasting>muscle wasting</option>
                <option value=vomiting>vomiting</option>
                <option value=burningmicturition>burning micturition</option>
                <option value=spottingurination>spotting urination</option>
                <option value=fatigue>fatigue</option>
                <option value=weightgain>weight gain</option>
                <option value=anxiety>anxiety</option>
                <option value=coldhandsandfeets>cold hands and feets</option>
                <option value=moodswings>mood swings</option>
                <option value=weightloss>weight loss</option>
                <option value=restlessness>restlessness</option>
                <option value=lethargy>lethargy</option>
                <option value=patchesinthroat>patches in throat</option>
                <option value=irregularsugarlevel>irregular sugar level</option>
                <option value=cough>cough</option>
                <option value=highfever>high fever</option>
                <option value=sunkeneyes>sunken eyes</option>
                <option value=breathlessness>breathlessness</option>
                <option value=sweating>sweating</option>
                <option value=dehydration>dehydration</option>
                <option value=indigestion>indigestion</option>
                <option value=headache>headache</option>
                <option value=yellowishskin>yellowish skin</option>
                <option value=darkurine>dark urine</option>
                <option value=nausea>nausea</option>
                <option value=lossofappetite>loss of appetite</option>
                <option value=painbehindtheeyes>pain behind the eyes</option>
                <option value=backpain>back pain</option>
                <option value=constipation>constipation</option>
                <option value=abdominalpain>abdominal pain</option>
                <option value=diarrhoea>diarrhoea</option>
                <option value=mildfever>mild fever</option>
                <option value=yellowurine>yellow urine</option>
                <option value=yellowingofeyes>yellowing of eyes</option>
                <option value=acuteliverfailure>acute liver failure</option>
                <option value=fluidoverload>fluid overload</option>
                <option value=swellingofstomach>swelling of stomach</option>
                <option value=swelledlymphnodes>swelled lymph nodes</option>
                <option value=malaise>malaise</option>
                <option value=blurredanddistortedvision>blurred and distorted vision</option>
                <option value=phlegm>phlegm</option>
                <option value=throatirritation>throat irritation</option>
                <option value=rednessofeyes>redness of eyes</option>
                <option value=sinuspressure>sinus pressure</option>
                <option value=runnynose>runny nose</option>
                <option value=congestion>congestion</option>
                <option value=chestpain>chest pain</option>
                <option value=weaknessinlimbs>weakness in limbs</option>
                <option value=fastheartrate>fast heart rate</option>
                <option value=painduringbowelmovements>pain during bowel movements</option>
                <option value=paininanalregion>pain in anal region</option>
                <option value=bloodystool>bloody stool</option>
                <option value=irritationinanus>irritation in anus</option>
                <option value=neckpain>neck pain</option>
                <option value=dizziness>dizziness</option>
                <option value=cramps>cramps</option>
                <option value=bruising>bruising</option>
                <option value=obesity>obesity</option>
                <option value=swollenlegs>swollen legs</option>
                <option value=swollenbloodvessels>swollen blood vessels</option>
                <option value=puffyfaceandeyes>puffy face and eyes</option>
                <option value=enlargedthyroid>enlarged thyroid</option>
                <option value=brittlenails>brittle nails</option>
                <option value=swollenextremeties>swollen extremeties</option>
                <option value=excessivehunger>excessive hunger</option>
                <option value=extramaritalcontacts>extra marital contacts</option>
                <option value=dryingandtinglinglips>drying and tingling lips</option>
                <option value=slurredspeech>slurred speech</option>
                <option value=kneepain>knee pain</option>
                <option value=hipjointpain>hip joint pain</option>
                <option value=muscleweakness>muscle weakness</option>
                <option value=stiffneck>stiff neck</option>
                <option value=swellingjoints>swelling joints</option>
                <option value=movementstiffness>movement stiffness</option>
                <option value=spinningmovements>spinning movements</option>
                <option value=lossofbalance>loss of balance</option>
                <option value=unsteadiness>unsteadiness</option>
                <option value=weaknessofonebodyside>weakness of one body side</option>
                <option value=lossofsmell>loss of smell</option>
                <option value=bladderdiscomfort>bladder discomfort</option>
                <option value=foulsmellofurine>foul smell ofurine</option>
                <option value=continuousfeelofurine>continuous feel of urine</option>
                <option value=passageofgases>passage of gases</option>
                <option value=internalitching>internal itching</option>
                <option value=toxiclook(typhos)>toxic look (typhos)</option>
                <option value=depression>depression</option>
                <option value=irritability>irritability</option>
                <option value=musclepain>muscle pain</option>
                <option value=alteredsensorium>altered sensorium</option>
                <option value=redspotsoverbody>red spots over body</option>
                <option value=bellypain>belly pain</option>
                <option value=abnormalmenstruation>abnormal menstruation</option>
                <option value=dischromicpatches>dischromic patches</option>
                <option value=wateringfromeyes>watering from eyes</option>
                <option value=increasedappetite>increased appetite</option>
                <option value=polyuria>polyuria</option>
                <option value=familyhistory>family history</option>
                <option value=mucoidsputum>mucoid sputum</option>
                <option value=rustysputum>rusty sputum</option>
                <option value=lackofconcentration>lack of concentration</option>
                <option value=visualdisturbances>visual disturbances</option>
                <option value=receivingbloodtransfusion>receiving blood transfusion</option>
                <option value=receivingunsterileinjections>receiving unsterile injections</option>
                <option value=coma>coma</option>
                <option value=stomachbleeding>stomach bleeding</option>
                <option value=distentionofabdomen>distention of abdomen</option>
                <option value=historyofalcoholconsumption>history of alcohol consumption</option>
                <option value=fluidoverload>fluid overload</option>
                <option value=bloodinsputum>blood in sputum</option>
                <option value=prominentveinsoncalf>prominent veins on calf</option>
                <option value=palpitations>palpitations</option>
                <option value=painfulwalking>painful walking</option>
                <option value=pusfilledpimples>pus filled pimples</option>
                <option value=blackheads>blackheads</option>
                <option value=scurring>scurring</option>
                <option value=skinpeeling>skin peeling</option>
                <option value=silverlikedusting>silver like dusting</option>
                <option value=smalldentsinnails>small dents in nails</option>
                <option value=inflammatorynails>inflammatory nails</option>
                <option value=blister>blister</option>
                <option value=redsorearoundnose>red sore around nose</option>
                <option value=yellowcrustooze>yellow crust ooze</option>
                <option value=prognosis>prognosis</option>
            </select>
            <button type="submit">Predict</button>
        </form>
    </div>
    <div class="predicted-disease">
        <h1>{{data}}</h1>
    </div>

    
</body>
</html>